Monopole_canyon_case/MESH/materials_file filter=lfs diff=lfs merge=lfs -text
Monopole_canyon_case/MESH/mesh_file filter=lfs diff=lfs merge=lfs -text
Monopole_canyon_case/MESH/nodes_coords_file filter=lfs diff=lfs merge=lfs -text
